/* Estilos generales para el contenedor principal */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    background-color: #fff2e6; /* Fondo suave color durazno */
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 2rem auto;
  }
  
  /* Estilos para el título */
  .home-container h2 {
    font-size: 2rem;
    color: #f39c12; /* Naranja suave */
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  /* Estilos para el contenedor de botones */
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
  }
  
  /* Estilo para los botones */
  button,
  .button-arrendatario {
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background-color: #f39c12; /* Naranja suave */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    text-decoration: none;
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  
  /* Efectos de hover y active en botones */
  button:hover,
  .button-arrendatario:hover {
    background-color: #a86e2b; /* Naranja medio al hacer hover */
    transform: translateY(-3px);
  }
  
  button:active,
  .button-arrendatario:active {
    transform: translateY(0);
    background-color: #996a34; /* Naranja oscuro al hacer click */
  }
  
  /* Estilos específicos para botones de "registrarse" e "iniciar sesión" */
  .button-arrendatario {
    background-color: #df8a29; /* Rojo-anaranjado */
  }
  
  .button-arrendatario:hover {
    background-color: #df8a29; /* Rojo-anaranjado oscuro al hacer hover */
  }
  
  .button-arrendatario:active {
    background-color: #996a34; /* Rojo-anaranjado oscuro al hacer click */
  }
  