<div>
  <a href="/" class="back-arrow">
    <i class="fas fa-arrow-left"></i> <!-- Usando FontAwesome -->
  </a>
  <h2>SingUp Usuario</h2>
  <form (ngSubmit)="agregarUsuario()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required>
    </div>
    <div>
      <label for="identificacion">Identificación:</label>
      <input type="text" id="identificacion" name="identificacion" [(ngModel)]="nuevoUsuario.identificacion" required>
    </div>
    <div>
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required>
    </div>
    <div>
      <label for="correo">Correo:</label>
      <input type="email" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required>
    </div>
    <div>
      <label for="afiliacion">Afiliación:</label>
      <input type="checkbox" id="afiliacion" name="afiliacion" [(ngModel)]="nuevoUsuario.afiliacion">
    </div>
    <div>
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="nuevoUsuario.fechaNacimiento" required>
    </div>
    <div>
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" [(ngModel)]="nuevoUsuario.direccion" required>
    </div>
    <div>
      <label for="tipoCuenta">Tipo de Cuenta:</label>
      <select id="tipoCuenta" name="tipoCuenta" [(ngModel)]="nuevoUsuario.tipoCuenta" required>
        <option value="0">Usuario</option>
      </select>
    </div>
    <div>
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" [(ngModel)]="nuevoUsuario.password" required>
    </div>
    <button type="submit">Agregar</button>
  </form>
</div>
